<footer class="footer">
  <div class="footer-container">

    <!-- Brand -->
    <div class="footer-col brand">
      <h3>Akhila Mohan Sahoo</h3>
      <p>
        I am a highly motivated Java Full Stack Developer passionate about building reliable and scalable applications using Java, Spring Boot, Angular, and MySQL. I am dedicated to continuous learning and delivering quality solutions through my work.
      </p>
    </div>

    <!-- Quick Links -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#about">About Me</a></li>
        <li>
          <a
            href="https://drive.google.com/file/d/1hobBRmTijAa7hNCU_i1FyvOtlne7jDZK/view?usp=drivesdk"
            target="_blank">
            Resume ↗
          </a>
        </li>
      </ul>
    </div>

    <!-- Connect -->
    <div class="footer-col">
      <h4>Connect</h4>
      <div class="socials">
        <a href="https://github.com/Akhila8260" target="_blank" aria-label="GitHub">
          <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/sm-akhil28" target="_blank" aria-label="LinkedIn">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:akhilamohansahoo675@gmail.com" aria-label="Email">
          <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="tel:+919348999424" aria-label="Phone">
          <i class="fa-solid fa-phone"></i>
        </a>
      </div>
    </div>

    <!-- Keyboard Shortcuts -->
    <!-- <div class="footer-col">
      <h4>Keyboard Shortcuts</h4>
      <p><span class="key">Ctrl</span> + <span class="key">K</span> Search</p>
      <p><span class="key">T</span> Toggle Theme</p>
    </div> -->

  </div>

  <!-- Bottom -->
  <div class="footer-bottom">
    © 2025 Akhila Mohan Sahoo | A M S
  </div>
</footer>
